.div{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://lh3.googleusercontent.com/E3BSrhibiVkzY_hlEFShaA_5YuvBJiPv3wlr2goxUegFB_8d9B5zzG4ntcWO1hFPzbTJomz7ZkpTqK8TwUPatt4tJKlHFOFK0hqcRioeoczpwTCrnRfMlCuYpdMKujSWT-pSoHYfxQ=w2400");
  }